body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1F2937;
    padding: 0 250px;
}
.header {
    height: 500px;
}

.content {
    flex: 1 1 auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px;
}

.header .upper {
    display: flex;
}

.header .lower {
    margin-top: 72px;
    display: flex;
    gap: 20px;
}

.header .lower-left {
    width: 450px;
    height: 250px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-right: 48px;
}

#logo-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 24px;

}

#main-img {
    width: 400px;
    height: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-left: auto;
    margin-top: 24px;
}

button {
    background-color: #3882f6;
    border: none;
    text-align: center;
    text-decoration: none;
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
}
.text {
    color: #f9faf8;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}

.first {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 36px;
    height: 430px;
    padding: 0 350px;
}

.first .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.first .info {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.first .img-div {
    width: 250px;
    height: 250px;
    color: #505050;
}

.first .sec-img {
    width: auto;
    height: 150px;
    border-radius: 12px;
    border: 2px solid;
    border-color: #3882f6;
    margin-bottom: 12px;
}

.second {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    padding: 0 350px;
    gap: 20px;
}

.second .qoute {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.second .name {
    font-weight: bolder;
    margin-left: auto;
    font-size: larger;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0 250px;
}

.third .container {
    background-color: #3882f6;
    width: 5000px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.third button {
    border: white solid 2px;
}

.third .title {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-bottom: 4px;
}